/* login styles */

.login {
    width: 300px;
    height: 200px;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 120px auto;
    box-shadow: 0px 0px 25px rgba(151,255,255,1);
}

.login .title {
    width: 300px;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 13px;
    font-size: 15px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: #121212;
    border: #2d2d2d solid 1px;
    margin-bottom: 30px;
    border-bottom: 1px solid #8DEEEE;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: Arial;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
}

.login form {
    width: 240px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.form{
    width:450px;
    padding:30px;
    margin: 25px auto;
    background: #1e1e1e;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0px 0px 10px rgba(151,255,255, 1);
    -webkit-box-shadow: 0px 0px 25px rgba(151,255,255, 1);
}

.form p{
    background: #121212;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #bfbfbf;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #8DEEEE;
    border-top: 1px solid #121212;
    border-left: 1px solid #121212;
    border-right: 1px solid #121212;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

.form .inner-wrap{
    padding: 20px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 2px solid #8DEEEE;
}

.form p > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial;
}
.form label{
    display: block;
    font: 14px Arial;
    color: black;
    margin-bottom: 15px;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);

}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="password"]:focus,
.form textarea:focus,
.form select { 
  border-color: rgba(3,3,3, 0.8);
  box-shadow: 0 1px 1px rgba(3,3,3, 0.075) inset, 0 0 8px rgba(3,3,3, 0.6);
  outline: 0 none;
}

.form .section{
    font-size: 15px;
    font-family: Arial;
    color: #bfbfbf;
    margin-bottom: 5px;
}
.form .section span {
    background: #121212;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid #fff;
    font-size: 12px;
    margin-left: -45px;
    color: #fff;
    margin-top: -6px;
}

p.button input[type="submit"]{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
p.button input[type="submit"]:hover{
	background: rgb(74, 179, 198);
}
p.button input[type="submit"]:active,
p.button input[type="submit"]:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}